# Public read-only website configuration
SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_VERSION=2026-09-21

# Sanity Studio configuration
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
